<div class="col-sm">
    <div class="card">
        <div class="card-header">
            <strong>Thêm thương hiệu mới</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="brand" class=" form-control-label">Thương hiệu</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="brand" id="brand" class="form-control-lg form-control">
                        <small class="form-text text-muted">Nhập tên thương hiệu</small>
                    </div>
                </div>
                {{!-- <div class="row form-group">
                    <div class="col col-md-3"><label for="file-multiple-input" class=" form-control-label">Hình ảnh sản
                            phẩm</label></div>
                    <div class="col-12 col-md-9"><input type="file" accept="image/*" id=" file-multiple-input"
                            name="file-multiple-input" multiple="" class="form-control-file"></div>
                </div> --}}
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> Thêm
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-sync-alt"></i> Nhập lại
            </button>
        </div>
    </div>
</div>